<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ZJK_SWING/src/Swing_07_1_Main_Thread/Bad1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Swing_07_1_Main_Thread.Bad1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ZJK_SWING"/>
</launchConfiguration>
